.titulo{
  font-family:Agency FB;
  font-size:20px;
  color:#FFFF;
  text-decoration:none;
  font-weight: bold;

}

.tituloBlogs{
  font-family: Arial;
  font-size:20px;
  color:#FFFF;
}
.HardLevel{
  font-family:Agency FB;
  font-size:40px;
}
.subt{
  font-family:Agency FB;
  font-size:20px;
  color:#ffff;
}
.boton{
  text-decoration: none;
  padding: 1px;
  font-family: calibri;
  text-transform: uppercase;
  padding-left: 1px;
  padding-right: 1px;
  font-weight: 800;
  width:130px;
  height:45px;
  font-size: 25px;
  text-align:center;
  color: white;
  background-color: #0B0B3B;
  border:0;

}
.boton2{
  text-decoration: none;
  padding: 1px;
  font-family: calibri;
  text-transform: uppercase;
  padding-left: 1px;
  padding-right: 1px;
  font-weight: 800;
  width:150px;
  height:45px;
  font-size: 25px;
  text-align:center;
  color: white;
  background-color: green;
  border:0;
}
.boton3{
  text-decoration: none;
  padding: 1px;
  font-family: calibri;
  text-transform: uppercase;
  padding-left: 1px;
  padding-right: 1px;
  font-weight: 800;
  width:150px;
  height:45px;
  font-size: 25px;
  text-align:center;
  color: white;
  background-color: red;
  border:0;
}
.titulo2{
  font-family:Agency FB;
  font-size:30px;
  color:#FFFF;
}
.creditos{
  font-family:Arial;
  font-size: 15px;
  color:white;

  text-align: right;
  width: 100%;
  bottom: 0px;
  width: 100%;
}
.btnReg{
  text-decoration: none;
  padding: 4px;
  font-family:Arial;
  text-transform: uppercase;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 800;
  width:150px;
  height:45px;
  font-size: 25px;
  text-align:center;
  color: red;
  background-color: red;
}
.dropdown-menu{
  background-color:#0B0B3B !important;
}
.open>a{
  background-color:#0B0B3B !important;
}
.open a{
  color:white !important;
}
.open a:hover{
  background-color:#B40404 !important;
}
.panel-heading{
  background-color:#0B0B3B !important;
}
.navbar
{
  background-color:#0B0B3B !important;
}
.btn-primary{
  background-color:#0B0B3B !important;
}

.boton_subir
{
    width: 0.1;
    height: 0.1;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    opacity: 0;
}
#etiquetaMin{
  background-color: #00FF40;
  cursor: pointer;
  padding: 0.5em;
  width: 100%;
  color:white;

}
#etiquetaMin:hover{
  background-color: red;
}
.capitulo-btn
{
  background-color: #045FB4;
  color:white;
  border:none;
  width: 100%;
  font-size: 20px;
  font-family: Agency Fb;
  font-weight: bold;
  height: 50px;
}
.capitulo-btn:hover
{
  background-color: white;
  color:#045FB4;
}
.btn-love{
  background-color:red;
  color:white;
  height: 30px;
  cursor: pointer;
}
.btn-love:hover
{
  background-color:white !important;
  color:red !important;
  border: 1px solid red;
  font-weight: bold !important;
}
.btn-editar
{
  background-color: #FBF303;
  color:white;
  font-weight:bold;
}
.btn-editar:hover{
  background-color:#FDCE00;
  color:white !important;  
  font-weight:bold;
}
.btn-editarError
{
  background-color: red;
  color:white;
  font-weight:bold;
}
.btn-editarEntrada{
  background-color:transparent;
  color:gray;
  position:absolute;
}
.btn-continuarLeyendo{
  background-color:#0174DF;
  color:white;
  font-weight:bold !important;
}
.btn-continuarLeyendo:hover{
  background-color:white;
  color:#0174DF !important;
  font-weight:bold;
  border: 1px solid #0174DF;
}
.enlace{
  color:#585858;
}
.enlace:hover{
  color:#0489B1 !important;
  text-decoration: none;
}
#hTitulo{
  font-family: Lucida sans;
  font-weight: normal;
}
#desplegar{
  text-decoration: none;
}
#desplegar:hover{
  text-decoration: none;
}
